{% load static %}
<hr class="featurette-divider">
<h2 class="featurette-heading text-center mb-5 fw-bold">
    My Skills
</h2>
<div class="row featurette">
  <div class="col-md-7">
    <h2 class="featurette-heading">Programming <span class="text-muted">Languages</span></h2>
    <p class="lead">
        As a software developer, my primary focus and expertise lie in <span class="text-warning" style="font-weight: bold;">Python</span>
        programming language. However, I also possess substantial knowledge and experience in JavaScript, TypeScript, HTML, CSS, and PHP,
        enabling me to effectively work across different programming languages.
    </p>
  </div>
  <div class="col-md-5">
      <img class="featurette-image img-fluid mx-auto" src="{% static 'blog/images/proglang.jpg' %}" height="500" width="500" alt="Generic placeholder image">
<!--            <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="Generic placeholder image">-->
  </div>
</div>

<hr class="featurette-divider">

<div class="row featurette">
  <div class="col-md-7 order-md-2">
    <h2 class="featurette-heading">Object Oriented <span class="text-muted">Programming.</span></h2>
    <p class="lead">
      I have hands-on experience in Object-Oriented Programming (OOP) for a duration of two years, allowing me to effectively
      utilize the principles and concepts of OOP in my software development endeavors.
    </p>
  </div>
  <div class="col-md-5 order-md-1">
    <img class="featurette-image img-fluid mx-auto" src="{% static 'blog/images/OOP.jpg' %}" height="500" width="500" alt="Generic placeholder image">
  </div>
</div>

<hr class="featurette-divider">

<div class="row featurette">
  <div class="col-md-7">
    <h2 class="featurette-heading">Frameworks</h2>
    <p class="lead">
      I have worked extensively with various frameworks, including Django, Django Rest Framework, FastAPI, Laravel, Bootstrap, and ReactJS.
      These frameworks have enabled me to build robust
      and efficient applications by leveraging their powerful features and capabilities.
    </p>
  </div>
  <div class="col-md-5">
    <img class="featurette-image img-fluid mx-auto" src="{% static 'blog/images/frameworks.jpg' %}" height="500" width="500" alt="Generic placeholder image">
  </div>
</div>

<hr class="featurette-divider">

<div class="row featurette">
  <div class="col-md-7 order-md-2">
    <h2 class="featurette-heading">Databases</span></h2>
    <p class="lead">
      As a software developer, I have gained extensive experience working with various databases such as PostgreSQL, MySQL, and Firebase.
    </p>
  </div>
  <div class="col-md-5 order-md-1">
      <img class="featurette-image img-fluid mx-auto" src="{% static 'blog/images/db.jpg' %}" height="500" width="500" alt="Generic placeholder image">
  </div>
</div>

<hr class="featurette-divider">